body{
background:#111827;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
font-family:Arial,sans-serif;
color:white;
}

.login-card{
background:#1f2937;
padding:40px;
border-radius:20px;
border:2px solid #22d3ee;
text-align:center;
width:320px;
}

h1{
color:#22d3ee;
}

button{
margin-top:20px;
width:100%;
padding:15px;
font-size:18px;
background:#22d3ee;
color:#111827;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
}
